[submodule "collections/builtin-actors"]
	path = collections/builtin-actors
	url = https://github.com/filecoin-project/builtin-actors.git
[submodule "collections/curio"]
	path = collections/curio
	url = https://github.com/filecoin-project/curio.git
[submodule "collections/filecoin-docs"]
	path = collections/filecoin-docs
	url = https://github.com/filecoin-project/filecoin-docs.git
[submodule "collections/filecoin-pay"]
	path = collections/filecoin-pay
	url = https://github.com/FilOzone/filecoin-pay.git
[submodule "collections/filecoin-services"]
	path = collections/filecoin-services
	url = https://github.com/FilOzone/filecoin-services.git
[submodule "collections/fips"]
	path = collections/fips
	url = https://github.com/filecoin-project/FIPs.git
[submodule "collections/forest"]
	path = collections/forest
	url = https://github.com/ChainSafe/forest.git
[submodule "collections/lily"]
	path = collections/lily
	url = https://github.com/filecoin-project/lily.git
[submodule "collections/lotus"]
	path = collections/lotus
	url = https://github.com/filecoin-project/lotus.git
[submodule "collections/pdp"]
	path = collections/pdp
	url = https://github.com/FilOzone/pdp.git
[submodule "collections/porep-market"]
	path = collections/porep-market
	url = https://github.com/fidlabs/porep-market.git
[submodule "collections/synapse-sdk"]
	path = collections/synapse-sdk
	url = https://github.com/FilOzone/synapse-sdk.git
[submodule "collections/filecoin-data-portal"]
	path = collections/filecoin-data-portal
	url = https://github.com/davidgasquez/filecoin-data-portal.git
